.title1 {
    font-size: 32px;
    margin: 2px;
}

.title5 {
    font-size: 10px;
}


.title3 {
    position: relative;
    font-size: 18px;
    margin: 2px;
    margin-bottom: 5px;
    left: 10px;
    top: 5px;
}

.title4 {
    position: relative;
    font-size: 32px;
    margin: 2px;
    left: 42px;
}

.title6 {
    position: relative;
    font-size: 24px;
    margin: 2px;
    margin-bottom: 5px;
    left: 10px;
    top: 5px;
}