.contents-page2 {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    color: var(--backg1);
    user-select: none;
    opacity: 0;
    transition: 0.5s;
}

.contents2 {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
}

.contents21 {
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contents22 {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.profile-pic-base {
    position: relative;
    min-width: 140px;
    min-height: 140px;
    width: 140px;
    height: 140px;
    top: 0px;
    left: 0px;
    background: var(--backg1);
    border-radius: 50%;
    color: var(--backg);
    text-align: center;
    padding: 25px 0px 0px;
    font-size: 90px;
}

.profile-info-base {
    position: relative;
    top: 20px;
    left: 15px;
    
}

.profile {
    position: relative;
    display: flex;
}

.last-login-text {
    z-index: 10; 
    text-align: center; 
    margin-top: 10px;
}