* {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --backg1: #282828;
  --backg: rgb(235, 235, 235);
  --accent: black;
  --accent2: green;
  --white: white;
  --gradient01: rgb(64, 240, 240);
  --gradient02: linear-gradient(90deg, rgba(64,254,253,1) 35%, rgba(6,241,254,1) 100%);
  --gradient03: rgb(30, 200, 200);
}

body {
  position: relative;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--backg);
  
}
/* PAGES SECTIONS */
.dashboard-section {
  position: absolute;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0%;
  height: auto;
  visibility: hidden;
  transition: 0.2;
}

.login-section {
  position: absolute;
  align-content: center;
  align-items: top;
  justify-content: top;
  width: 100%;
  top: 0%;
  height: auto;
  visibility: visible;
}

.login-page {
  position: absolute;
  align-items: top;
  justify-content: top;
  user-select: none;
  visibility: visible;
  transition: 0.2s;
}

/* /PAGES SECTIONS */


.textbox1 {
  font-size: medium;
  height: 30px;
  border-radius: 10px;
  margin: 3px;
  background-color: transparent;
}

.pagetitle {
  color: var(--accent);
  font-size: 35px;
}

.form {
  position: relative;
  width: 15rem;
  height: 1rem;
  margin-top: 3px;
  margin-bottom: 6px;
  z-index: 10;
}

.form .form_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--backg1);
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  color: var(--accent);
  outline: none;
  padding: 1rem;
  background: transparent;
  transition: 0.2;
  z-index: 10;
}

.form .form_input:hover {
  border-color: var(--gradient03);
}

.form .form_input:focus {
  border-color: var(--gradient01);
  box-shadow: 1px 7px 20px -10px var(--backg1);
}

.form .form_label {
  position: absolute;
  left: 1rem;
  top: 0.6rem;
  padding: 0 0.5rem;
  color: var(--accent);
  cursor: text;
  background-color: transparent;
  transition: 0.2s;
  z-index: 9;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown).form_input:focus ~ .form_label {
  top: -0.4rem;
  font-size: 0.8rem;
  left: 0.8rem;
  color: var(--gradient01);
  background-color: var(--backg);
  z-index: 11;
}

.form_input:not(:placeholder-shown).form_input:not(focus) ~ .form_label {
  top: -0.4rem;
  font-size: 0.8rem;
  left: 0.8rem;
  color: var(--backg1);
  background-color: var(--backg);
  z-index: 11;
}

.button1 {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  font-family: inherit;
  font-size: inherit;
  border: 0px;
  border-radius: 10px;
  outline: none;
  color: var(--backg1);
  background-color: var(--white);
  transition: 0.2s;
}

.button1:hover, .button2:hover {
  background-color: var(--gradient03);
  color: var(--white);
}

.button1:focus, .button2:focus {
  background-color: var(--gradient01);
  color: var(--backg1);
  box-shadow: 1px 1px 20px -6px var(--backg1);
}

