.contents-page2 {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    color: var(--backg1);
    user-select: none;
    opacity: 0;
    transition: 0.5s;
}

.contents2 {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translate(-50%, 0);
}

.contents21 {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.contents22 {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
}

.elem-btn-MiniPassRegen-FORM {
    position: absolute;
    top: 90px;
    left: 365px;
    width: 35px;
    height: 35px;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.2;
    font-size: 16px;
    transition: 0.2s;
}