.elem-btn-BigNRound-FORM {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2;
    font-size: 17px;
    transition: 0.2s;
    z-index: 20;
}

.elem-btn-BigNRound-BUTT {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    font-family: inherit;
    font-size: inherit;

    border: 0px;
    border-radius: 50%;
    background: var(--white);
    color: var(--accent);
    outline: none;
    transition: 0.2s;
}

.elem-btn-BigNRound-BUTT:hover {
    background: var(--gradient03);
    color: var(--white);
}

.elem-btn-BigNRound-BUTT:focus {
    background: var(--gradient01);
    color: var(--accent);
    box-shadow: 1px 1px 20px -6px var(--backg1);
}

.elem-btn-BigNRound-ICON {
    font-size: 60px;
}

.elem-btn-BigNRound-LABEL {
    font-weight: bold;
}