.elem-btn-ClassicRBlue-FORM {
    position: relative;
    width: 180px;
    height: 35px;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.2;
    font-size: 17px;
    transition: 0.2s;
    z-index: 20;
}

.elem-btn-ClassicRBlue-BUTT {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    font-family: inherit;
    font-size: inherit;

    border: 0px;
    border-radius: 10px;
    background: var(--white); 
    color: var(--accent);
    outline: none;
    transition: 0.2s;
}

.elem-btn-ClassicRBlue-BUTT:hover {
    background: var(--gradient03);
    color: var(--white);
}

.elem-btn-ClassicRBlue-BUTT:focus {
    background: var(--gradient01);
    color: var(--accent);
    box-shadow: 1px 1px 20px -6px var(--backg1);
}